.container {
    padding: 32px;
    display: flex;
    position: absolute;
    height: 607px;
    width: 1161px;
    align-items: center;
}

.container > div {
    margin-right: 32px;
    border: 4px solid #000;
    border-radius: 8px;
    font-size: 24px;
}

.container > div:last-child {
    margin-right: 0;
}

.card {
    display: flex;
    padding: 32px;
}

.card__icon {
    border: 4px solid #000;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    position: relative;
    flex: 0 0 auto;
}

.card__icon > img {
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 14px);
}

.card__right {
    padding-left: 16px;
}

.card__right > div {
    margin-bottom: 16px;
}

.card__right > div:last-child {
    margin-bottom: 0;
}

.card__title {
    font-weight: bold;
}

.card__text {
    line-height: 150%;
}

.card__icons {
    display: flex;
    justify-content: space-between;
}

.icon {
    display: flex;
    align-items: center;
}

.icon__number {
    color: #949494;
    padding-left: 8px;
}





.container__box--hug {
    padding: 16px;
    background-color: #FF8577;
}

.container__box--fillVertical {
    height: 100%;
    background-color: #A259FF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 166px;
}

.container__box--fillHorizontal {
    background-color: #5551FF;
    color: #fff;
    height: 241px;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
}

.container__box--fillHorizontalAndVertical {
    background-color: #FFC700;
    height: 100%;
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    justify-content: center;
    text-align: center;
}